@fantage9:registry=https://nexus.skcc-ifacts.com/repository/npm-ifacthub-private/
@ifacts:registry=https://nexus.skcc-ifacts.com/repository/npm-ifacthub-private/
//nexus.skcc-ifacts.com/repository/npm-ifacthub-private/:_auth="aWZhY3RzLWN1c3RvbWVyOjFxMnczZTRyNXQh"